{{ define "header" }}

<header>

{{ partial "menu.html" . }}

{{ partial "light.html" . }}

</header>

{{ end }}

{{ define "main" }}

<main>

<div id="hidden-bar">

  <h1 id="title">{{ .Title }}</h1>

<!-- <ul id="translated-list">
  {{ range .Translations }}
  <li>
    <a href="{{ .Permalink | relURL }}">{{ .Title }}{{ if .IsPage }} {{ end }}</a>
  </li>
  {{ end }}
</ul> -->

</div>

<br><br>

<div id="content">

{{ .Content }}

</div>

</main>

{{ end }}

{{ define "footer" }}

<footer>

</footer>

{{ end }}
